<%- include ('./head'); %>
    <!-- <nav class="navbar bg-body-secondary border-bottom fixed-top">
        <a class="navbar-brand" href="#" style="padding: 0px 20px;">
            <img src="/images/logo.png" alt="Bootstrap" width="55">
        </a>
    </nav> -->
    <div class="container-fluid" style="padding: 30px 30px;">
        <div class="row">
            <div class="col-md">
                <div class="small-box bg-info rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <% if(countAtlet.length){ for(var i = 0; i< countAtlet.length; i++){%>
                            <h3><%= countAtlet[i].countAtlet %></h3>
                            <%} }else{ %>
                            <h3>Kosong</h3>
                            <% } %>
                            <p>Jumlah Atlet</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-person-swimming"></i>
                    </div>
                    <a href="/atlet"  class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md">
                <div class="small-box bg-success rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <% if(countPelatih.length){ for(var i = 0; i< countPelatih.length; i++){%>
                            <h3><%= countPelatih[i].countPelatih %></h3>
                            <%} }else{ %>
                            <h3>Kosong</h3>
                            <% } %>
                            <p>Jumlah Pelatih</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <a href="/coach" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md">
                <div class="small-box bg-warning rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <% if(countVanue.length){ for(var i = 0; i< countVanue.length; i++){%>
                            <h3><%= countVanue[i].countVanue %></h3>
                            <%} }else{ %>
                            <h3>Kosong</h3>
                            <% } %>
                            <p>Jumlah Vanue</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-chess-rook"></i>
                    </div>
                    <a href="/vanue" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        </div>