<%- include ('./head'); %>
    <nav class="navbar bg-body-secondary border-bottom">
        <a class="navbar-brand" href="#" style="padding: 0px 20px;">
            <img src="/images/logo.png" alt="Bootstrap" width="55">
        </a>
    </nav>