<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="container-fluid" style="padding: 0px 30px; padding-bottom: 20px;">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                <div class="inner">
                    <h3>150</h3>
                    <p>Jumlah Atlet</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-success rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Jumlah Pelatih</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-warning rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                <div class="inner">
                    <h3>44</h3>
                    <p>Jumlah Cab-Or</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-danger rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                <div class="inner">
                    <h3>65</h3>
                    <p>Jumlah Event</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>