<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="container-fluid" style="padding: 0px 30px; padding-bottom: 20px;">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                <div class="inner">
                    <h3>150</h3>
                    <p>Jumlah Atlet</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-success rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Jumlah Pelatih</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-warning rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                <div class="inner">
                    <h3>44</h3>
                    <p>Jumlah Cab-Or</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-danger rounded" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                <div class="inner">
                    <h3>65</h3>
                    <p>Jumlah Event</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 50px 0px;">
        <div class="col">
            <div class="card" style="box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);">
                <div class="card-header"></div>
                <div class="card-body">
                    <table id="example" class="table table-hover table-bordered" style="width:100%;">
                        <thead class="table-secondary">
                            <tr>
                                <th>No</th>
                                <th>Nama</th>
                                <th>Tanggal Lahir</th>
                                <th>Cab-Or</th>
                                <th>Penghargaan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Dwy</td>
                                <td>20/04/2000</td>
                                <td>Karate</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Dwy</td>
                                <td>20/04/2000</td>
                                <td>Karate</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Dwy</td>
                                <td>20/04/2000</td>
                                <td>Karate</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Dwy</td>
                                <td>20/04/2000</td>
                                <td>Karate</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Dwy</td>
                                <td>20/04/2000</td>
                                <td>Karate</td>
                                <td>5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Details</h4>
            </div>
            <div class="modal-body">
                <div class="username">
                    <p>Name: </p><span></span>
                </div>
                <div class="position">
                    <p>Position: </p><span></span>
                </div>
                <div class="office">
                    <p>Office: </p><span></span>
                </div>
                <div class="age">
                    <p>Age: </p><span></span>
                </div>
                <div class="date">
                    <p>Start date: </p><span></span>
                </div>
                <div class="salary">
                    <p>Salary: </p><span></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
<script>
//     $(document).ready(function () {
//     $('#example').DataTable();
// });
</script>
<script>
    jQuery(document).ready(function ($) {
        $('#example').DataTable({
            searching: false,
            responsive: true,
            "autoWidth": false,
        });
        var table = $('#example').DataTable();
        $('#example tbody').on('click', 'tr', function () {
            //console.log(table.row(this).data());
            $(".modal-body div span").text("");
            $(".username span").text(table.row(this).data()[0]);
            $(".position span").text(table.row(this).data()[1]);
            $(".office span").text(table.row(this).data()[2]);
            $(".age span").text(table.row(this).data()[3]);
            $(".date span").text(table.row(this).data()[4]);
            $(".salary span").text(table.row(this).data()[5]);
            $("#myModal").modal("show");
        });
    });
</script>